@model KurumsalSite.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="card mt-5">
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>

            <p>
                @Html.ActionLink("Güncelle", "Edit", new { id = Model.CategoryId },new {@class="btn btn-success"})
                <a class="btn btn-primary" href="/AdminCategory/Index">Geri Dön</a>
                
            </p>

        </div>
    </div>
</div>

    
